#
# {{ ansible_managed }}
#
[Unit]
Description=Systemd service file for Splunk
After=network-online.target
Wants=network-online.target
 
[Service]
Type=simple
Restart=always
ExecStart=/opt/splunkforwarder/bin/splunk _internal_launch_under_systemd --accept-license --no-prompt --answer-yes
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=360
LimitNOFILE=65536
LimitRTPRIO=99
SuccessExitStatus=51 52
RestartPreventExitStatus=51
RestartForceExitStatus=52
User={{ splunk_forwarder_user }}
Group={{ splunk_forwarder_group }}
NoNewPrivileges=yes
AmbientCapabilities=CAP_DAC_READ_SEARCH
ExecStartPre=-/bin/bash -c "chown -R {{ splunk_forwarder_user }}:{{ splunk_forwarder_group }} /opt/splunkforwarder"
Delegate=true
CPUShares={{ splunk_forwarder_cpu_shares }}
MemoryLimit={{ splunk_forwarder_memory_limit }}
PermissionsStartOnly=true
ExecStartPost=-/bin/bash -c "chown -R {{ splunk_forwarder_user }}:{{ splunk_forwarder_group }} /sys/fs/cgroup/system.slice/%n"

[Install]
WantedBy=multi-user.target
